<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="navbar">
      <ul id="links">
        <li><a href="#">Gmail</a>
        <li><a href="#">Slike</a></li>
        <li><a href="#"><img src="./images/Googlove_aplikacije.png" alt="Booglove aplikacije" title="Googlove aplikacije" /></a></li>
        <li><a href="#"><img src="./images/google_obvestila.png" alt="Stevilo Booglovih obvestil:" title="Stevilo Booglovih obvestil:" /></a></li>
        <li><a href="#"><img  src="./images/google_racun.png" alt="Boogle Racun: Jure" title="Boogle Racun: Jure"></a></li>

      </ul>



    </div>
    <div class="header">
    <img id="google" src="./images/google_logo.png">
  </div>
  <div class="search-bar">
    <form>
      <input type="text" autofocus="autofocus">
    </form>
  </div>
    <div class="button2">
      <form>
        <a href="#"><button type="submit">
          Iskanje google
        </button>
      </a>
        <a href="#"><button type="submit">
          Klik na sreco
        </button>
      </a>
      </form>

    </div>
    <div class="text">
      Google je na voljo v: <a href="#English"> English</a>
    </div>
    <div class="footer1 container">
      Slovenija
    </div>
    <div class="container footer2">
       <div class="footer-links1">
         <p>
         <a href="#Oglasevanje">Oglasevanje</a>
         <a href="Posel">Posel</a>
         <a href="Predstavitev">Predstavitev</a>
         <p>
       </div>
       <div class="footer-links2">
         <p>
        <a href="#Zasebnost">Zasebnost</a>
         <a href="Pogoji">Pogoji<a/>
           <a href="Nastavitve">Nastavitve</a>
         </p>
         </div>
       </div>

  </body>
</html>
