<!DOCTYPE>
<html>
<head>
  <title>Jure Cacilo | Fakebook</title>
  <meta name="description" content="fakebook account" />
  <meta name="keywords" content="fakebook, profile"  />
  <meta http-equiv="author" content="Jure Cacilo"  />
</head>
<body>
  <nav>
  <a href="#kontakt">Kontakt</a><br  />
</nav>
<hr  />
  <img src="https://scontent.flju2-1.fna.fbcdn.net/v/t1.0-9/15726922_1321122611242608_4073107838988668394_n.jpg?oh=5164677fa50169d603751009b16aaefa&oe=5B05BC2C"
   height="300" width="300" alt="Profilna slika" title="Profilna slika">
  <h1>Jure Cacilo</h1>
  <form action="" method="get">
    <button>Dodaj prijatelja
    </button>
  </form>

  <p>
    <b>Starost:</b>20
  </p>
  <p>
    <b>Obiskuje:</b>Fakulteto za naravoslovje in matematiko
  </p>
  <p>
    <b>Kraj:</b>Maribor
  </p>
  <p>
    <b>Hobi:</b>Razni sporti ter gledanje posnetkov medvedov
  </p>
  <h3>Favorite video</h3>
  <video src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-1/lesson-2/htmlcss1-vid_brown-bear.mp4" width="300" height="250" controls>
    Video not supported!
  </video>

  <div id="kontakt">
  <h2>
Kontakt
  </h2>
  <a href="mailto:cacilojurre@gmail.com" target="_blank">Email</a>
</div>
<hr  />
<p>&copy; Fakebook</p>
</body>
</html>
